.header
{
    /*background: #2B6FBB url(../images/gradienu.gif);*/
    color: #ffffff;
    height:30;
    font: bold 18px Times New Roman;
}
.tRow
{
    /*background: #BDD5F1 url(../images/gradient.gif) repeat-x top left;*/
    background: #ABCDEF;
    color: black;
    font: bold 14px Arial;
}

.tRow2
{
    /* background: #BDD5F1 url(../images/gradient.gif) repeat-x top left;*/
    background: White;
    color: black;
    font: bold 14px Arial;
}
.bar
{
    background: #BDD5F1 url(../images/gradient.gif) repeat-x top left;
    color: #083E76;
    font: bold 13px black Times New Roman;
}
td{
    border-right-width:1px;
}
.border{
    border:0px;
}